@use "../../partials/partials" as *;

.clue-info {
  font-family: "Korinna";
  text-align: center;
  text-shadow: 4px 4px 0px #000000;
}

.player-answer {
  display: flex;
  justify-self: center;
  width: 25rem;
  height: 4rem;
  font-size: 1.5rem;
  margin: 10px 0px;
}

.custom-submit {
  background: linear-gradient(0.5turn, $Jorange, $Jgold, $Jorange);
  color: $Jroyalblue;
  height: 4rem;
  font-size: 2rem;
  font-weight: 700;
}

.modal-custom {
  background: $Jroyalblue;
  color: $white;
  font-weight: 500;
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.none {
  display: none;
}

.results {
  text-shadow: 4px 4px 0px #000000;
  font-size: 2rem;
  font-family: "Korinna";
}

.result-correct {
  display: initial;
  display: flex;
  text-shadow: 4px 4px 0px #000000;
  font-size: 2.5rem;
  color: #70e000;
}

.result-wrong {
  display: flex;
  justify-content: center;
  text-shadow: 4px 4px 0px #000000;
  font-size: 2.5rem;
  color: #e5383b;
}

.results-answer-sytle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border: none;
}

.screen {
  background-color: $Jroyalblue;
  border: none;
}

body {
  border: none;
}
