@use "../../partials/partials" as *;

.clue-info {
  font-family: "Korinna";
  text-align: center;
}

.player-answer {
  display: flex;
  justify-self: center;
}

.btn-primary {
  background-color: $Jroyalblue;
  color: $Jgold;
}

.modal-custom {
  background: $Jroyalblue;
  color: $white;
  font-weight: 500;
}

.screen {
  background-color: $Jroyalblue;
}
