.tbd {
  //   background-image: url(../../assets/Images/jeopardy-game-clipart.hi.png);
  background-image: url(../../assets/Images/jeopardy-logo-wtvd-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto;
  width: auto;
}
